<svg class="nav-item-border" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38.96 6.88"><title>border-3</title><path d="M.48.88s9.12,5,19,5,19-5,19-5" style="stroke-miterlimit:10"/></svg>
