<svg class="nav-item-border" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39.35 7.72"><title>border-1</title><polyline points="0.68 1.36 6.1 6.36 11.53 1.36 16.96 6.36 22.38 1.36 27.81 6.36 33.24 1.36 38.68 6.36" style="stroke-miterlimit:10"/></svg>
