{% comment %} PRODUCT #1 {% endcomment %}
{% assign product = product1 %}
{% if product != blank %}
<div class="grid-item item-s-6 item-m-3">
  {% include 'feed-product' %}
</div>
{% endif %}

{% comment %} PRODUCT #2 {% endcomment %}
{% assign product = product2 %}
{% if product != blank %}
<div class="grid-item item-s-6 item-m-3">
  {% include 'feed-product' %}
</div>
{% endif %}

{% comment %} ARTICLES {% endcomment %}
<div class="grid-item item-s-12 item-m-6 no-gutter grid-row">
  {% for article in articles limit: 3 offset: articlesOffset %}
    {% if article.tags contains 'lookbook' %}
      {% comment %} LOOKBOOK {% endcomment %}

      <div class="grid-item item-s-12 feed-lookbook-holder">
        <img src="{{ article.image.src | img_url: '900x540', crop: 'center' }}">
        <h2 class="feed-lookbook-title">{{ article.title }}</h2>
      </div>

    {% else %}
      {% comment %} ARTICLE {% endcomment %}
      <div class="grid-item item-s-12 no-gutter grid-row">
        {% include 'feed-article' %}
      </div>
      {% endif %}
  {% endfor %}
</div>
