{% if cart.item_count > 0%}
<div class="nav-cart-count-holder grid-row justify-center align-items-center font-size-small">
  <div class="nav-cart-count-text">{{ cart.item_count }}</div>
</div>
{% endif %}
