{% if collection.all_types.size != 0 %}
<div class="nav-types-holder">
  <ul class="nav-types {% if mobile == true %}padding-top-small padding-bottom-small{% else %}padding-bottom-tiny{% endif %}" {% if mobile != true %}data-collection="{{ collection.handle }}"{% endif %}>
    {% for product_type in collection.all_types %}
    <li class="nav-types-item"><a href="{{ collection.url }}/{{ product_type | handle }}">{{ product_type }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}
