<div class="grid-item {% if mobile == true %}item-s-6{% endif %}">
  <span class="nav-item-holder">
    <a href="{{ collection.url }}" class="nav-collection font-bold font-condensed font-uppercase u-inline-block" {% if mobile != true %}data-collection="{{ collection.handle }}"{% endif %}>
      {{ collection.title }}
    </a>
    {% include border %}
  </span>
  {% if mobile == true %}
  {% include 'nav-types' %}
  {% endif %}
</div>
