$header-height = 102px
$border-style = 2px solid $color-black
$transition-duration = 200ms

#admin_bar_iframe
  display: none

#header
  .logo
    height: 70px

#main-nav
  display: none
  position: relative

  .nav-types-holder
    position: absolute
    width: 100%

  .nav-types
    position: relative
    background-color: $color-white
    border-bottom: $border-style
    opacity: 0
    pointer-events: none
    width: 80%
    margin-left: 10%
    text-align: center
    &.show
      opacity: 1
      pointer-events: auto

    li
      display: inline-block

.mobile-nav-toggle-holder
  position: fixed
  z-index: 800

#mobile-nav
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background: white
  z-index: 900
  padding-top: 102px
  opacity: 0
  transition: opacity $transition-duration ease-in-out
  pointer-events: none
  &.show
    opacity: 1
    pointer-events: auto

  .mobile-nav-toggle-holder
    position: absolute

.mobile-nav-toggle-holder
  top: 0
  left: 0
  width: 100%

#collection-filters
  white-space: nowrap

@media screen and (orientation: landscape)
 .collection-product-item
   flex-basis: calc(100% / 3)
   max-width: calc(100% / 3)

@media screen and (orientation: portrait)
 .collection-product-item
   flex-basis: 50%
   max-width: 50%

// INDEX

#feed-banner
  position: relative
  overflow: hidden
  .container, .grid-row
    height: 100%
    min-height: 20vw

#feed-banner-bg
  position: absolute
  min-width: 100%
  top: 0
  left: 0
  bottom: 0
  right: 0
  margin: auto
