$header-height = 92px
$border-style = 2px solid $color-black
$transition-duration = 200ms

.container
  max-width: 1840px

// ******************************************************

#admin_bar_iframe
  display: none

#header
  padding-bottom: $margin-tiny
  .logo
    height: 70px

#main-nav
  display: none
  position: relative

  .nav-types-holder
    position: absolute
    width: 100%

  .nav-types
    position: relative
    background-color: $color-white
    border-bottom: $border-style
    opacity: 0
    pointer-events: none
    width: 80%
    margin-left: 10%
    text-align: center
    &.show
      opacity: 1
      pointer-events: auto
      z-index: 700

    li
      display: inline-block

.mobile-nav-toggle-holder
  position: fixed
  z-index: 800

#mobile-nav
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background: white
  z-index: 900
  padding-top: 102px
  opacity: 0
  transition: opacity $transition-duration ease-in-out
  pointer-events: none
  &.show
    opacity: 1
    pointer-events: auto

  .mobile-nav-toggle-holder
    position: absolute

.mobile-nav-toggle-holder
  top: 0
  left: 0
  width: 100%

#collection-filters
  white-space: nowrap

.margin-bottom-section
  margin-bottom: $margin-basic

@media screen and (orientation: landscape)
  .margin-bottom-section
    margin-bottom: $margin-mid

// ******************************************************

// ARTICLE

.icon
  height: 20px

@media screen and (orientation: landscape)
 .collection-product-item
   flex-basis: calc(100% / 3)
   max-width: calc(100% / 3)

@media screen and (orientation: portrait)
 .collection-product-item
   flex-basis: 50%
   max-width: 50%

// ******************************************************

// INDEX

#feed-banner
  position: relative
  overflow: hidden
  .container, .grid-row
    height: 100%
    min-height: 20vw

#feed-banner-title
  margin-bottom: $margin-small

#feed-banner-bg
  position: absolute
  min-width: 100%
  top: 0
  left: 0
  bottom: 0
  right: 0
  margin: auto

.feed-products-wrapper
  margin-bottom: $margin-basic

.feed-article-holder
  .feed-article-item:not(:last-child)
    margin-bottom: $margin-basic

.feed-lookbook-holder
  position: relative
  font-size: 0

.feed-lookbook-title
  position: absolute
  width: calc('100% - ' + $margin-basic)
  height: 100%
  color: white
  top: 0
  left: ($margin-basic / 2)

.feed-article-image-holder,
.feed-article-text,
.feed-life-item
  flex-basis: 100%
  max-width: 100%

.feed-life-item:not(:last-of-type)
  margin-bottom: $margin-basic

.feed-article-text
  order: 1

@media screen and (orientation: landscape)
  .feed-article-image-holder
    flex-basis: 41.666666%
    max-width: 41.666666%

  .feed-article-text
    flex-basis: 58.333333%
    max-width: 58.333333%
    order: 0

  .feed-life-item
    flex-basis: 33.333333%
    max-width: 33.333333%

  .feed-life-item:not(:last-of-type)
    margin-bottom: 0

  .grid-item.feed-article-text
    padding-right: 0

// ******************************************************

// BLOG

.blog-icon
  max-width: 25px
  max-height: 25px

// ******************************************************

// PRODUCT

#product-gallery-holder
  order: 1

#product-gallery
  display: flex
  flex-direction: row
  flex-wrap: wrap

.form-element
  appearance: none
  text-align: center
  text-align-last: center
  border: $border-style
  padding: ($margin-micro / 2) 0
  border-radius: 0
  background-color: $color-white
  box-sizing: content-box

#zoom-container
  background-color: $color-white
  position: fixed
  z-index: 1000
  top: 0
  left: 0
  bottom: 0
  right: 0
  pointer-events: none
  opacity: 0
  transition: opacity $transition-duration
  &.show
    opacity: 1
    cursor: -webkit-grabbing
    pointer-events: all

.product-gallery-item
  text-align: center

.product-gallery-image-holder
  cursor: zoom-in
