$header-height = 148px
$nav-height = 44px

// ******************************************************

// HEADER

#header
  padding-bottom: $margin-small
  .logo
    height: 105px

#main-nav
  display: block
  position: relative

  .nav-types-holder
    position: absolute
    width: 100%

  .nav-types
    position: relative
    background-color: $color-white
    border-bottom: $border-style
    pointer-events: none
    width: 80%
    margin-left: 10%
    text-align: center
    opacity: 0
    transition: opacity .2s
    &.show
      opacity: 1
      pointer-events: auto
      z-index: 700

    li
      display: inline-block

.mobile-nav-toggle-holder
  display: none

#mobile-nav
  &.show
    opacity: 0
    pointer-events: none
  .mobile-nav-toggle-holder
    display: block

#collection-row
  flex-wrap: nowrap

.margin-bottom-section
  margin-bottom: $margin-mid

.nav-item-holder
  position: relative
  display: block
  &:hover
    .nav-item-border
      animation: spinX .5s infinite linear
    .nav-cart-count-holder
      animation: spinZ .5s infinite linear

  a
    display: block

.nav-item-border
  position: absolute
  stroke-width: 2px
  stroke: $color-black
  width: 100%
  height: 5px
  fill: none
  pointer-events: none

@keyframes spinX
  0%
    transform: rotateX(0deg)
  50%
    transform: rotateX(180deg)
  100%
    transform: rotateX(360deg)

@keyframes spinZ
  0%
    transform: rotateZ(0deg)
  50%
    transform: rotateZ(180deg)
  100%
    transform: rotateZ(360deg)

// ******************************************************

// INDEX

.feed-products-wrapper
  margin-bottom: 0

.feed-article-holder
  .feed-article-item:not(:last-child)
    margin-bottom: $margin-basic

.feed-article-image-holder
  font-size: 0

.feed-lookbook-title
  width: calc('100% - ' + $margin-basic)
  left: ($margin-basic / 2)

.grid-item.feed-article-text
  padding-right: 0
  order: 0

#feed-banner-title
  margin-bottom: 0

.feed-life-item:not(:last-of-type)
  margin-bottom: 0

// ******************************************************

// PRODUCT

#product-gallery-holder
  order: 0

#product-gallery
  display: block
  margin-top: calc(-($header-height - $nav-height))
  &.min-height
    min-height: calc('100vh - ' + ($header-height - $nav-height))

#product-header
  position: fixed
  opacity: 0
  &.bottom
    position: absolute
    bottom: 0
    margin-right: 0
  &.show
    opacity: 1

.product-gallery-item
  text-align: right

.product-gallery-image
  max-height: calc('100vh - ' + ($nav-height + $margin-small))
  width: auto

.product-gallery-image-holder
  cursor: zoom-in

// ******************************************************

// FOOTER

#footer-social
  .grid-item:not(:last-child)
    img.social-icon
      margin-right: $margin-tiny

#footer-nav
  display: flex

// ******************************************************

// CART

.icon-remove
  width: 11px

// ******************************************************

// COLLECTION

.pagination-arrow
  width: 84px
