#header
  padding-bottom: $margin-small
  .logo
    height: 105px

#main-nav
  display: block

.mobile-nav-toggle-holder
  display: none

#mobile-nav
  &.show
    opacity: 0
    pointer-events: none
  .mobile-nav-toggle-holder
    display: block

#collection-row
  flex-wrap: nowrap

.margin-bottom-section
  margin-bottom: $margin-mid

// ******************************************************

// INDEX

.feed-products-wrapper
  margin-bottom: 0

.feed-article-holder
  .feed-article-item:not(:last-child)
    margin-bottom: $margin-basic

.feed-article-image-holder
  font-size: 0

.feed-lookbook-title
  width: calc('100% - ' + $margin-basic)
  left: ($margin-basic / 2)

.grid-item.feed-article-text
  padding-right: 0
  order: 0

#feed-banner-title
  margin-bottom: 0

.feed-life-item:not(:last-of-type)
  margin-bottom: 0

// ******************************************************

// FOOTER

#footer-social
  .grid-item:not(:last-child)
    img.social-icon
      margin-right: $margin-tiny
