$header-height = 196px
$nav-height = 54px

// ******************************************************

// HEADER

#header
  padding-bottom: $margin-small
  .logo
    height: 140px

.margin-bottom-section
  margin-bottom: $margin-mid

.nav-item-border
  height: 6px

// ******************************************************

// INDEX

.feed-article-holder
  .feed-article-item:not(:last-child)
    margin-bottom: $margin-small

.feed-lookbook-title
  width: calc('100% - ' + $margin-basic)
  left: ($margin-basic / 2)

// ******************************************************

// PRODUCT

#product-header
  &.fixed
    margin-right: ($gutter / 2)

#product-gallery
  margin-top: calc(-($header-height - $nav-height))

.product-gallery-image
  max-height: calc('100vh - ' + ($nav-height + $margin-small))

// ******************************************************

// FOOTER

#footer-social
  .grid-item:not(:last-child)
    img.social-icon
      margin-right: $margin-tiny

// ******************************************************

// CART

.icon-remove
  width: 12px
