$header-height = 196px
$nav-height = 54px

#main-content
  min-height: calc('100vh - ' + $header-height)

img.social-icon
  margin: 0 0 0 $margin-micro

// ******************************************************

// HEADER

#header
  padding-bottom: $margin-small
  .logo
    height: 140px

.margin-bottom-section
  margin-bottom: $margin-mid

.nav-item-border
  height: 6px

.nav-types-item
  margin: 0 $margin-micro $margin-tiny

// ******************************************************

// INDEX

.feed-article-holder
  .feed-article-item:not(:last-child)
    margin-bottom: $margin-small

.feed-lookbook-title
  width: calc('100% - ' + $margin-basic)
  left: ($margin-basic / 2)

// ******************************************************

// PRODUCT

#product-header
  &.fixed
    margin-right: ($gutter / 2)

#product-gallery
  margin-top: calc(-($header-height - $nav-height))

.product-gallery-image
  max-height: calc('100vh - ' + ($nav-height + $margin-small))

// ******************************************************

// FOOTER 

// ******************************************************

// CART

.icon-remove
  width: 12px

// ******************************************************

// COLLECTION

.pagination-arrow
  width: 112px
