$header-height = 148px
$nav-height = 44px

// ******************************************************

// HEADER

#header
  padding-bottom: $margin-small
  .logo
    height: 105px

#main-nav
  display: block

.mobile-nav-toggle-holder
  display: none

#mobile-nav
  &.show
    opacity: 0
    pointer-events: none
  .mobile-nav-toggle-holder
    display: block

#collection-row
  flex-wrap: nowrap

.margin-bottom-section
  margin-bottom: $margin-mid

// ******************************************************

// INDEX

.feed-products-wrapper
  margin-bottom: 0

.feed-article-holder
  .feed-article-item:not(:last-child)
    margin-bottom: $margin-basic

.feed-article-image-holder
  font-size: 0

.feed-lookbook-title
  width: calc('100% - ' + $margin-basic)
  left: ($margin-basic / 2)

.grid-item.feed-article-text
  padding-right: 0
  order: 0

#feed-banner-title
  margin-bottom: 0

.feed-life-item:not(:last-of-type)
  margin-bottom: 0

// ******************************************************

// PRODUCT

#product-gallery-holder
  order: 0

#product-gallery
  display: block
  margin-top: calc(-($header-height - $nav-height))

#product-header
  position: fixed
  &.bottom
    position: absolute
    bottom: 0
    margin-right: 0

.product-gallery-item
  text-align: right

.product-gallery-image
  max-height: calc('100vh - ' + ($nav-height + $margin-small))
  width: auto

.product-gallery-image-holder
  cursor: zoom-in
