#header
  padding-bottom: $margin-small
  .logo
    height: 140px

.margin-bottom-section
  margin-bottom: $margin-mid

// ******************************************************

// INDEX

.feed-article-holder
  .feed-article-item:not(:last-child)
    margin-bottom: $margin-small

.feed-lookbook-title
  width: calc('100% - ' + $margin-basic)
  left: ($margin-basic / 2)
