// Light
@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Lt.eot');
    src: url('HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTStd-Lt.woff') format('woff'),
        url('HelveticaNeueLTStd-Lt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

// Light Italic
@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-LtIt.eot');
    src: url('HelveticaNeueLTStd-LtIt.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTStd-LtIt.woff') format('woff'),
        url('HelveticaNeueLTStd-LtIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

// Light Condensed
@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-LtCn.eot');
    src: url('HelveticaNeueLTStd-LtCn.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTStd-LtCn.woff') format('woff'),
        url('HelveticaNeueLTStd-LtCn.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-stretch: condensed;
}

// Bold
@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Bd.eot');
    src: url('HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTStd-Bd.woff') format('woff'),
        url('HelveticaNeueLTStd-Bd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

// Bold Condensed
@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-BdCn.eot');
    src: url('HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTStd-BdCn.woff') format('woff'),
        url('HelveticaNeueLTStd-BdCn.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
}
