  // styl property ordering: https://github.com/rossPatton/stylint/blob/master/src/data/ordering.json

@import 'kouto-swiss'
@import 'helpers'

// ******************************************************

// RESETS

meyer-reset()
box-sizing-reset()
normalize()

// ******************************************************

// GRID

@import 'grid'

// ******************************************************

// FONTS

@import 'fonts'

$font-sans = font-stack('Helvetica');
$font-serif = font-stack('Georgia');

// ******************************************************

// TYPOGRAPHY

@import 'type'

$font-size-larger = 1.3rem

$font-leading-basic = 1.35
$font-leading-tighter = 1.15
$font-leading-larger = 1.45

$font-tracking-basic = .001em
$font-tracking-wider = .05em

html
  font-family: $font-sans
  letter-spacing: $font-tracking-basic
  font-weight: 300

body
  line-height: $font-leading-basic

.font-sans
  font-family: $font-sans

.font-serif
  font-family: $font-serif

.font-larger
  font-size: $font-size-larger

.font-condensed
  font-stretch: condensed

.line-tighter
  line-height: $font-leading-tighter

.line-larger
  line-height: $font-leading-larger

// ******************************************************

// VARIABLES

$color-black = rgb(0, 0, 0)
$color-white = rgb(255, 255, 255)

// ******************************************************

// BASIC

html
  background-color: $color-white
  color: $color-black

img
  max-width: 100%
  height: auto

.mobile-only
  display: initial !important

.desktop-only
  display: none !important

// ******************************************************

// MEDIA QUERIES

$gutter = 18px

$margin-micro = ($gutter / 3)
$margin-tiny = ($gutter / 2)
$margin-small = ($gutter)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 13px
$font-size-extra = $font-size-basic * 2
$font-size-large = $font-size-basic * 1.5
$font-size-mid = $font-size-basic * 1.2
$font-size-small = $font-size-basic * .8
$font-size-tiny = $font-size-basic * .5
$font-size-micro = $font-size-basic * .3

grid-maker(96%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny, $font-size-micro)

@import 'responsive/mobile'

@media screen and (min-width: 500px)

  grid-maker(96%, $gutter, sm)

@media screen and (min-width: 720px)

  $gutter = 24px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 15px
  $font-size-extra = $font-size-basic * 1.8
  $font-size-large = $font-size-basic * 1.5
  $font-size-mid = $font-size-basic * 1.2
  $font-size-small = $font-size-basic * .8
  $font-size-tiny = $font-size-basic * .5
  $font-size-micro = $font-size-basic * .3

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  grid-maker(96%, $gutter, m)

  font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny, $font-size-micro)

  @import 'responsive/tablet-portrait'

@media screen and (min-width: 1024px)

  $gutter = 32px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 17px
  $font-size-extra = $font-size-basic * 1.8
  $font-size-large = $font-size-basic * 1.5
  $font-size-mid = $font-size-basic * 1.2
  $font-size-small = $font-size-basic * .8
  $font-size-tiny = $font-size-basic * .5
  $font-size-micro = $font-size-basic * .3

  grid-maker(96%, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny, $font-size-micro)

  .mobile-only
    display: none !important

  .desktop-only
    display: initial !important

  @import 'responsive/tablet-landscape'

@media screen and (min-width: 1280px)

  $gutter = 48px

  $font-size-basic = 19px
  $font-size-extra = $font-size-basic * 1.8
  $font-size-large = $font-size-basic * 1.5
  $font-size-mid = $font-size-basic * 1.2
  $font-size-small = $font-size-basic * .8
  $font-size-tiny = $font-size-basic * .5
  $font-size-micro = $font-size-basic * .3

  grid-maker(96%, $gutter, xl)

  font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny, $font-size-micro)

  @import 'responsive/laptop'

@media screen and (min-width: 1440px)

  $gutter = 64px

  $font-size-basic = 21px
  $font-size-extra = $font-size-basic * 1.8
  $font-size-large = $font-size-basic * 1.5
  $font-size-mid = $font-size-basic * 1.2
  $font-size-small = $font-size-basic * .8
  $font-size-tiny = $font-size-basic * .5
  $font-size-micro = $font-size-basic * .3

  grid-maker(96%, $gutter, xl)

  font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny, $font-size-micro)

  @import 'responsive/desktop'

@media screen and (min-width: 1800px)

  $gutter = 80px

  grid-maker(96%, $gutter, xxl)

  @import 'responsive/hd'
